@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.background {
  background-image: url("https://images8.alphacoders.com/132/1325725.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
